body {
    background: #fafafa;
}

.dino {
    width: 60px;
    height: 60px;
    background-image: url(dino.png);
    position: absolute;
    bottom: 0;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(cactus.png);
}

.Game-Over {
    text-align: center;
    color: #666666;
    margin-top: 50px;
    font-family: arial;
}

@keyframes slideRight {
    from {
        background-position: 30000%;
    }
    to {
        background-position: 0;
    }
}

.background {
    position: absolute;
    bottom: 0;
    background-image: url(background.png);
    background-repeat: repeat-x;
    animation: slideRight 600s infinite linear;
    width: 100%;
    height: 200px;
}

.Score {
    text-align: left;
    margin-top: 600px;
    margin-left: 200px;
    font-size: 32px;
    font; src: url(https://www.dafont.com/silkscreen.font);
}

